.gallery-container {
  max-width: 1440px;
  padding: 24px 156px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.gallery-item {
  width: calc((100% - 24px * 2) / 3);
}

.gallery-item img {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.044);
}
